env:
  - name: ENV
    valueFrom:
      configMapKeyRef:
        name: app-config
        key: ENV
  - name: PASSWORD
    valueFrom:
      secretKeyRef:
        name: app-secret
        key: password
